@font-face {
    font-family: 'pokemon'; /* Nome que você vai usar no CSS */
    src: url('../Pokemon Solid.ttf') format('truetype'); /* Caminho para o arquivo */
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative; /* importante */
    background: black;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.15;
    z-index: 0; /* imagem atrás */
}

.content {
    position: relative;
    z-index: 2; /* texto na frente */
}

.content h1, .player p, button{
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(28, 28, 251);
    font-size: 3.6em;
    color: rgb(253, 232, 4);
    font-family: 'pokemon';
    letter-spacing: 5px;
    text-shadow: -4px 4px black;
}

.players {
    display: flex;
    justify-content: space-between;
}

.player p{
    position: relative;
    font-size: 1.8em;
    z-index: 1;
}

.player img{
    margin: 0 50px;
    position: relative;
    width: 120px;
    height: 120px;
    opacity: 1;
}

.botao  button{
    position: relative;
     z-index: 1;
     font-size: 1.8em;
    padding:0px 12px 12px 20px;
    border: 6px solid black;
    border-radius: 10px;
    background-color: rgb(237, 179, 71);
    transition: 0.5s;
    
}

.botao  button:hover{
    
    cursor: pointer;
    font-size: 2em;
    background-color: orange;
    transition: 0.5s;
    
}

.batle {
    display: flex;
    justify-content: space-around;
}

.container-1, .container-2 {
    padding: 30px;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#meuAudio {
    display: none;
}

.pokeball, .pokeball-2 {
    z-index: 2;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    border: 6px solid #111;
    margin: 12px 30px;
    transition: 0.5s;
    
    /* metade vermelha e metade branca */
    background: linear-gradient(
        to bottom,
        #e60012 0%,
        #e60012 48%,
        #111 48%,
        #111 52%,
        #ffffff 52%,
        #ffffff 100%
    );

    box-shadow: 
        0 10px 25px rgba(0,0,0,0.25),
        inset -8px -8px 15px rgba(0,0,0,0.15),
        inset 8px 8px 15px rgba(255,255,255,0.2);
}

.pokeball-2 {
    background: linear-gradient(
        to bottom,
        blue 0%,
        blue 48%,
        #111 48%,
        #111 52%,
        #ffffff 52%,
        #ffffff 100%
    );
}

/* círculo central preto */
.pokeball::before, .pokeball-2::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #111;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* círculo interno branco */
.pokeball::after, .pokeball-2::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border: 5px solid #111;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokeball.rotate {
    animation: rotateBall 2s ease-in-out forwards;
    
}

.pokeball:hover {
    
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
    z-index: 10;
    
}

@keyframes rotateBall {

    0%   { transform: rotate(0deg); }

    40% { 
        transform: rotate(720deg);
    }
    60% { 
        transform: scaleX(-1);
        box-shadow: transparent;
        background: transparent;
        border-color: transparent;
        box-shadow: 0 0 -75px gold;  
        box-shadow: 0 0 -35px gold;
        box-shadow: 0 0 -55px gold;
        box-shadow: 0 0 -65px gold;  
        box-shadow: 0 0 -75px gold;  
    }

    100% { 
        
        background-color: gold;
        box-shadow: 0 0 35px gold;
        box-shadow: 0 0 45px gold;
        box-shadow: 0 0 55px gold;
        box-shadow: 0 0 65px gold;  
        
        
    }
}

.pokemon-slot {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 180px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    pointer-events: none;
}

.pokemon-slot img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    opacity: 1;
}

/* espelha player 2 */
.container-2 .pokemon-slot img {
    transform: scaleX(-1);
}

.pokeball.opened,
.pokeball-2.opened {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.pokemon-card p {
    position: relative;
    margin-bottom: 258px;

    font-family: 'pokemon';
    font-size: 1.4em;

    color: rgb(253, 232, 4);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(28, 28, 251);

    text-shadow: -2px 2px black;

    text-transform: capitalize;

    z-index: 10;
}

@media screen and (max-width: 932px) {

    .content h1{
        font-size: 2em;
    }

    .content h1, .player p, button{
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(28, 28, 251);
    font-size: 2em;
    color: rgb(253, 232, 4);
    font-family: 'pokemon';
    letter-spacing: 5px;
    text-shadow: -2px 2px black;
    }

    .player p{
        font-size: 1em;
    }

    .player img{
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    .botao button{
        font-size: 1em;
        border: 3px solid black;
        padding:0px 6px 10px 15px;
    }

    .pokeball,
    .pokeball-2{
        width: 100px;
        height: 100px;
        margin: 6px 10px;
    }

    .pokemon-slot{
        width: 120px;
        height: 120px;
    }

    .container-1,
    .container-2{
        gap: 5px;
        padding: 10px;
    }

    .batle{
        margin-top: 20px;
    }

}
